<div class="mt-2">
    <h1>Historia</h1>
    <hr>

    <div class="row d-flex justify-content-center" *ngIf="historia">
        <div class="col-md-5">
            <div class="card">
                <form class="form-body">
                    <div class="form-group m-1">
                        <input type="text" class="form-control" placeholder="titulo" [value]="historia.titulo">
                    </div>
                    <div class="form-group m-1">
                        <textarea rows="2" class="form-control" type="text" placeholder="descripcion" [value]="historia.descripcion">
                        </textarea>
                    </div>
                    <div class="form-group m-1">
                        <input type="text" class="form-control" placeholder="imagen" [value]="historia.imgPath">
                    </div>

                    <button class="btn btn-danger m-2" (click)="eliminarHistoria(historia.id)">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>