<div class="col-lg-4 mx-auto mt-2">
    <div class="card">
        <div class="card-header">
            crear historia
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input name="titulo" placeholder="agregar titulo" class="form-control" required #titulo>
                </div>
                <div class="form-group">
                    <textarea name="descripcion" rows="2" placeholder="agregar descripcion" class="form-control" required #descripcion></textarea>
                </div>

                <div class="form-group">
                    <input name="imagen" placeholder="agregar URL imagen" class="form-control" #imagen>
                </div>

                <button class="btn btn-primary" (click)="crearHistoria(titulo,descripcion,imagen)">Crear</button>
            </form>
        </div>
    </div>
</div>